In [ ]:
#We will be working on Employee Data. This is employee attrition data. The 'left' named column represents exit from the company or not.

#The data consists of categorical & number data. Thus, needs data preprocessing. Make use of preprocessing techniques that you have learnt & build model to predict 'left' named column

In [2]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [12]:
url = 'https://github.com/tranghth-lux/data-science-complete-tutorial/blob/master/Data/HR_comma_sep.csv.txt'

In [14]:
data = pd.read_csv('HR_comma_sep.csv.txt')
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

### Data Preprocessing :

In [15]:
data.shape

(14999, 10)

In [16]:
data.dtypes

satisfaction_level       float64
last_evaluation          float64
number_project             int64
average_montly_hours       int64
time_spend_company         int64
Work_accident              int64
left                       int64
promotion_last_5years      int64
sales                     object
salary                    object
dtype: object

In [17]:
data.isnull().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
sales                    0
salary                   0
dtype: int64

- No missing value in HR dataset

In [19]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler

StandardScaler()

In [22]:
data[['satisfaction_level','last_evaluation','average_montly_hours','time_spend_company']] = scaler.fit_transform(data[['satisfaction_level','last_evaluation','average_montly_hours','time_spend_company']])
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,-0.936495,-1.087275,2,-0.882040,-0.341235,0,1,0,sales,low
1,0.752814,0.840707,5,1.220423,1.713436,0,1,0,sales,medium
2,-2.022479,0.957554,7,1.420657,0.343655,0,1,0,sales,medium
3,0.431041,0.899131,5,0.439508,1.028546,0,1,0,sales,low
4,-0.976716,-1.145699,2,-0.841993,-0.341235,0,1,0,sales,low

- Feature Encoding
- apply LabelEncoding on sales and salary column

In [24]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le

LabelEncoder()

In [28]:
data['sales'] = le.fit_transform(data['sales'])
data['salary'] = le.fit_transform(data['salary'])
#print(data['sales'])
#print(data['salary'])
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,-0.936495,-1.087275,2,-0.882040,-0.341235,0,1,0,7,1
1,0.752814,0.840707,5,1.220423,1.713436,0,1,0,7,2
2,-2.022479,0.957554,7,1.420657,0.343655,0,1,0,7,2
3,0.431041,0.899131,5,0.439508,1.028546,0,1,0,7,1
4,-0.976716,-1.145699,2,-0.841993,-0.341235,0,1,0,7,1

### Build model to predict 'left' named column

- split data into train and test data

In [29]:
x = data.drop('left',axis=1)
y= data['left']

In [34]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.2, random_state = 0)

In [42]:
from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier()
knc

KNeighborsClassifier()

In [43]:
knc.fit(x_train, y_train)

KNeighborsClassifier()

In [44]:
y_pred = knc.predict(x_test)
y_pred

array([1, 0, 0, ..., 1, 0, 0], dtype=int64)

In [46]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.9516666666666667